<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<!-- css -->
	<link rel="stylesheet" href="../../../assets/css/style.css">
	<link rel="stylesheet" href="../../../assets/css/popup.css">
	<link rel="stylesheet" href="../../../assets/css/living.css">
	
	
	<!-- js -->
	<script type="text/javascript" src="../../../assets/js/jquery/jquery-1.12.4.js"></script>
	<script src="../../../assets/js/nav.js"></script>
	
	
</head>
<body>
	<a>안녕하세요</a>
	<!-- 전체 랩 -->
	<div class="wrap">
		<!-- 헤더 -->
		<header id="header_wrap">
			<a href=""><img class="logo" alt="메인로고" src="../../../assets/img/main-logo.jpg"></a>
			
			<!-- 헤더메뉴1 -->
			<div class="header_menu1">
				<!-- 카테고리 -->
				<ul class="menu">
					<li><a href="">챌린지</a>
						<ul class="sub_menu">
							<li><a href="">인기챌린지</a></li>
							<li><a href="">신규챌린지</a></li>
							<li><a href="">공식챌린지</a></li>
							<li><a href="">----</a></li>
							<li><a href="">운동</a></li>
							<li><a href="">생활</a></li>
							<li><a href="">취미</a></li>
							<li><a href="">소 카테고리7</a></li>
							<li><a href="">소 카테고리8</a></li>
							<li><a href="">소 카테고리9</a></li>
							<li><a href="">소 카테고리10</a></li>
						</ul>
					</li>
					<li><a href="">이벤트</a>
						<ul class="sub_menu">
							<li><a href="">진행중 이벤트</a></li>
							<li><a href="">마감 이벤트</a></li>
							<li><a href="">소 카테고리3</a></li>
						</ul>
					</li>
					<li><a href="">SHOP</a>
						<ul class="sub_menu">
							<li><a href="">소 카테고리1</a></li>
							<li><a href="">소 카테고리2</a></li>
							<li><a href="">소 카테고리3</a></li>
							<li><a href="">소 카테고리4</a></li>
							<li><a href="">소 카테고리5</a></li>
							<li><a href="">소 카테고리6</a></li>
							<li><a href="">소 카테고리7</a></li>
						</ul>
					</li>
				</ul>
				<!-- //카테고리 -->
			</div>
			
			<!-- 헤더메뉴2 -->
			<div class="header_menu2">
				<ul>
					<li><a href="">검색</a></li>
					<li><a href="">마이페이지</a></li>
					<li><a href="">북마크</a></li>
				</ul>
			</div>
			 
		</header>
		
		
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
        <section id="contents_wrap1">
            <div class="contents_1">
                <div class="living_title">포인트몰</div>

                <ul class="living_sub">
                    <li><a href="">상품권</a></li>
                    <li><a href="">기프티콘</a></li>
                    <li><a href="">기타</a></li>  
                </ul>

                <ul class="search_list">
                    <li class="active"><a href="">인기도순</a></li>
                    <li><a href="">낮은가격순</a></li>
                    <li><a href="">최신순</a></li>
                    <li><a href="">높은가격순</a></li>
                    <li><a href="">누적판매순</a></li>
                </ul>
            </div>
            
        </section>
        
        <section id="contents_wrap1">
            <div class="contents_2" class="clearfix">
                <div class="img-popup">
                    <div class="popup-inner">
                        <div class="left">
                            <img src="images/best_02.png" alt="">
                            
                            <p class="popup_btn"><a href=""> 제품상세보기<span> + </span></a></p>
                        </div>
                        
                        <div class="right">
                            <p class="b_name">프리미엄 큐비즘 3인 카우치쇼파 패브릭소파</p>
                            <ul class="price_list">
                                <li>소비자가격 <strike>1,020,000원</strike></li>
                                <li>판매가격 <span>828,000원</span></li>
                                <li class="last_li">총상품금액 <span class="it_1">828,000원</span></li>
                            </ul>
                            <div class="option">
                                <p>옵션</p>
                                <select id="select">
                                    <option value="fixed">-- 옵션필수선택 --</option>
                                    <option value="a">A타입</option>
                                    <option value="b">B타입</option>
                                </select>
                            </div>

                            <div class="count">
                                <p>수량</p>
                                <form>
                                    <input type=text name=amount value=1>
                                    <input type=button value="+" onClick="javascript:this.form.amount.value++;">
                                    <input type=button value="-" onClick="javascript:this.form.amount.value--;">
                                </form>
                            </div>
                            
                                
                            

                            <ul class="btn_wrap">
                                <li class="bag_btn"><a href="bag.html"><i class="fas fa-shopping-bag"></i></a></li>
                                <li class="heart_btn"><a href=""><i class="fas fa-heart"></i></a></li>
                                <li class="pur_btn"><a href="">구매하기</a></li>
                            </ul>
                        </div>

                        <a href="" class="close-btn">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
    
                <div class="box_1">
                    <div class="scale">
                        <a href=""data-num="1"><img src="../../../assets/img/products/cl50.jpg" alt=""></a>
                    </div>
                    <p class="b_name">컬처랜드 상품권 5만원권 온라인</p>
                    <p class="price">
                            <strike>
                                <span class="unsale">50,000원</span>
                            </strike>
                            <p class="sale">50,000원</p>
                            
                            <p class="close" data-img="../../../assets/img/products/cl50.jpg">미리보기<span>▼</span></p>
                        <!-- 미리보기팝업 -->
                    </p>
                </div>
                <div class="box_1">
                    <div class="scale">
                        <a href=""data-num="2"><img src="../../../assets/img/products/cl30.jpg" alt=""></a>
                    </div>
                    <p class="b_name">컬처랜드 상품권 3만원권 온라인</p>
                    <p class="price">
                            <strike>
                                <span class="unsale">30,000원</span>
                            </strike>
                            <p class="sale">30,000원</p>
                            
                            <p class="close" data-img="images/best_05.png">미리보기<span>▼</span></p>
                        <!-- 미리보기팝업 -->
                    </p>
                </div>
                <div class="box_2">
                    <div class="scale">
                        <a href=""data-num="3"><img src="images/kitchen_img1.png" alt=""></a>
                    </div>
                    <p class="b_name">준비중</p>
                    <p class="price">
                            <strike>
                                <span class="unsale">준비중</span>
                            </strike>
                            <p class="sale">준비중</p>
                            
                            <p class="close" data-img="images/kitchen_img1.png">미리보기<span>▼</span></p>
                        <!-- 미리보기팝업 -->
                    </p>
                </div>
    
    
                <div class="box_1">
                    <div class="scale"><img src="" alt="">
                        <p class="img_t"></p>
                    </div>
                    <p class="b_name">준비중</p>
                    <p class="price">
                            <strike>
                                <span class="unsale">준비중</span>
                            </strike>
                            <p class="sale">준비중</p>
                            
                            <p class="close" data-img="">미리보기<span>▼</span></p>
                        <!-- 미리보기팝업 -->
                    </p>
                </div>
                <div class="box_1">
                    <div class="scale"><img src="" alt="">
                        <p class="img_t"></p>
                    </div>
                    <p class="b_name">준비중</p>
                    <p class="price">
                            <strike>
                                <span class="unsale">준비중</span>
                            </strike>
                            <p class="sale">준비중</p>
                            
                            <p class="close" data-img="">미리보기<span>▼</span></p>
                        <!-- 미리보기팝업 -->
                    </p>
                </div>
                <div class="box_2">
                    <div class="scale"><img src="" alt="">
                        <p class="img_t"></p>
                    </div>
                    <p class="b_name">준비중</p>
                    <p class="price">
                            <strike>
                                <span class="unsale">준비중</span>
                            </strike>
                            <p class="sale">준비중</p>
                            
                            <p class="close" data-img="">미리보기<span>▼</span></p>
                        <!-- 미리보기팝업 -->
                    </p>
                </div>
    
    
                <div class="box_1">
                    <div class="scale"><img src="" alt="">
                        <p class="img_t"></p>
                    </div>
                    <p class="b_name">준비중</p>
                    <p class="price">
                            <strike>
                                <span class="unsale">준비중</span>
                            </strike>
                            <p class="sale">준비중</p>
                            
                            <p class="close" data-img="">미리보기<span>▼</span></p>
                        <!-- 미리보기팝업 -->
                    </p>
                </div>
                <div class="box_1">
                    <div class="scale"><img src="" alt="">
                        <p class="img_t"></p>
                    </div>
                    <p class="b_name">준비중</p>
                    <p class="price">
                            <strike>
                                <span class="unsale">준비중</span>
                            </strike>
                            <p class="sale">준비중</p>
                            
                            <p class="close" data-img="">미리보기<span>▼</span></p>
                        <!-- 미리보기팝업 -->
                    </p>
                </div>
                <div class="box_2">
                    <div class="scale"><img src="" alt="">
                        <p class="img_t"></p>
                    </div>
                    <p class="b_name">준비중</p>
                    <p class="price">
                            <strike>
                                <span class="unsale">준비중</span>
                            </strike>
                            <p class="sale">준비중</p>
                            
                            <p class="close" data-img="">미리보기<span>▼</span></p>
                        <!-- 미리보기팝업 -->
                    </p>
                </div>
    
                <ul class="list_style">
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href=""><i class="fas fa-angle-double-right"></i></a></li>
                </ul>
            </div>
    
        </section>
        
    





</body>
</html>