<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>충전페이지수정0803</title>
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
</head>

<body>
    <div style="overflow: visible;padding: 0px 400px 0px 400px;padding-left: 394px;padding-right: 401px;width: 1920px;padding-top: 79px;">
        <div style="margin-bottom: 80px;">
            <h1 style="padding-bottom: 22px;padding-left: 0px;">적립금 현황</h1>
            <div style="width: 900px;">
                <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;border: 1px solid rgb(221, 221, 221);border-top: 2px solid rgb(85, 85, 85);background: rgb(249, 249, 249);margin-top: 0px;padding-top: 42px;padding-left: 29px;padding-right: 30px;">
                    <div class="col mb-5" style="border-right-width: 1px;border-right-style: solid;">
                        <h5>사용가능 적립금</h5>
                        <p class="text-center" style="font-size: 50px;font-weight: bold;">10,730<span style="font-size: 16px;">원</span></p>
                    </div>
                    <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5" style="text-align: center;">
                        <div></div><button class="btn btn-primary shadow" type="button" style="width: 150px;height: 55px;font-size: 22px;margin-left: 30px;background: #ff4b2b;" data-bs-target="#modal-1" data-bs-toggle="modal">충전하기</button>
                        <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="background: #ff7a63;">
                                        <h4 class="modal-title">충전하기</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="text-align: left;">
                                            <p style="font-size: 20px;line-height: 23px;font-weight: bold;margin-bottom: 6px;">충전금액을 입력해주세요</p>
                                            <p style="font-size: 14px;margin-bottom: 16px;">보유중인 적립금 10,730원</p>
                                            <div><input type="text" placeholder="1만원부터 충전가능합니다." style="width: auto;min-width: 440px;text-align: left;height: 30px;" name="charge" minlength="10000"><span style="font-size: 16px;">원</span></div>
                                            <p><span style="color: rgb(225, 39, 5);">최소 충전 가능 금액은 1만원 입니다.</span><br></p>
                                            <div style="border-radius: 4px;border: 1px solid rgb(223, 227, 232);padding-left: 12px;padding-top: 9px;padding-bottom: 8px;">
                                                <p style="font-weight: bold;padding-left: 0px;margin-left: 0px;">충전방법 선택</p>
                                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2" name="payment"><label class="form-check-label" for="formCheck-2">무통장입금</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1" name="payment"><label class="form-check-label" for="formCheck-1">신용카드</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer"><button class="btn btn-primary" type="button" style="width: 498px;background: #ff7a63;">충전하기</button></div>
                                </div>
                            </div>
                        </div><button class="btn btn-primary shadow" type="button" style="width: 150px;height: 55px;font-size: 22px;margin-left: 60px;background: #ff4b2b;" data-bs-target="#modal-2" data-bs-toggle="modal">인출하기</button>
                        <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="background: #ff7a63;">
                                        <h4 class="modal-title">인출하기</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="text-align: left;">
                                            <p style="font-size: 20px;line-height: 23px;font-weight: bold;margin-bottom: 6px;">적립금 잔액 10,730원</p>
                                            <p style="font-size: 14px;margin-bottom: 16px;"><span style="color: rgb(17, 17, 17); background-color: rgb(247, 247, 247);">인출 신청 후 입금 완료까지 최대 3 영업일이 소요됩니다.</span><br></p><input type="text" style="width: auto;min-width: 450px;text-align: right;height: 30px;" name="charge" placeholder="0"><span style="font-size: 16px;">원</span>
                                            <p style="font-size: 11px;color: rgb(170, 170, 170);text-align: right;margin-right: 5px;">최소 1 원 ~ 최대 10,730 원</p>
                                            <div style="border-radius: 4px;border: 1px solid rgb(223, 227, 232);padding-bottom: 11px;">
                                                <p style="font-weight: bold;margin-top: 7px;padding-left: 10px;border-bottom: 1px solid rgb(246, 246, 246);margin-bottom: 11px;padding-bottom: 14px;">본인명의의 계좌만 인출 가능합니다.</p>
                                                <div><label class="form-label" style="font-size: 12px;font-weight: bold;padding-right: 0px;margin-right: 40px;margin-left: 10px;">이름</label><span>홍길동</span></div>
                                                <div><label class="form-label" for="은행" style="font-size: 12px;font-weight: bold;margin-right: 40px;margin-left: 10px;">은행</label><select style="font-size: 12px;width: auto;min-width: 378px;padding-left: 4px;height: 24px;">
                                                        <optgroup label="선택">
                                                            <option value="12" selected="">신한은행</option>
                                                            <option value="13">국민은행</option>
                                                            <option value="14">This is item 3</option>
                                                        </optgroup>
                                                    </select></div>
                                                <div><label class="form-label" style="font-size: 12px;font-weight: bold;margin-right: 15px;margin-left: 10px;">계좌번호</label><input type="text" placeholder="'-'없이 숫자만 입력해주세요." style="font-size: 12px;width: auto;min-width: 380px;padding-left: 10px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer"><button class="btn btn-primary" type="button" style="width: 498px;background: #ff7a63;">인출하기</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="background: rgb(255, 255, 255);border-width: 1px;border-right-style: solid;border-right-color: rgb(221, 221, 221);border-bottom-style: solid;border-bottom-color: rgb(221, 221, 221);border-left-style: solid;border-left-color: rgb(221, 221, 221);height: 88px;position: relative;display: block;text-align: center;padding-top: 29px;"><a href="#" style="font-size: 20px;">적립 및 사용 현황</a></div>
            </div>
        </div>
        <div></div>
    </div>
    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>