@charset "UTF-8";

/* my2 */
.modal {
        text-align: center;
}

@media screen and (min-width: 768px) { 
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
}
 
.modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
}

#review-modal {
	display: none;
}

#review-modal h5 {
	font-weight: bold;
	margin-bottom: 0px;
}

.modal-text {
	width: 466px;
	height: 240px;
}

#modal-upbutton{
	font-size: 14px;
	height: 34px;
	padding:2px;
	float:left;
}

.review-header{
	height: 26px;
	font-size: 18px;
	margin: 15px 0px 15px 0px; 
}
 
.top-select{
	float: right;
	height: 26px;
	font-size:16px;
}

.review-table{
	width:923.5px;
	text-align: center;
	border-spacing:0px;
}

.review-table thead tr {
	height: 55px;
	font-weight:bold;
	background-color: #ebe9eb;
}

#review-tr:hover {
	background-color: #f1f1f1;
}

.review-table tr{
	height:120px;
}

.review-table td{
	padding:0px;
	border-bottom: 1px solid #f1f1f1;
}

.review-table img{
	width:140px;
	height:105px;
}

.review-table a {
	text-decoration: none;
	color:var(--bs-body-color);
	text-align:left;
}
.review-table .cTitle a {
	float: left;
}

.cNum{
	width:50px;
}

.cThumb{
	width:150px;
}

.cTitle{
	
}
.cChallenge{
	width:220px;
}

.cDate{
	width:100px;
}

.cView{
	width:70px;
}

.bottom-select{
	height:32px;	
}

.review-input{
	width: 230px;
	height:32px;
}

.review-button {
	width: 60px;
	border: 1px solid;
	font-size:15px;
	height:32px;
	padding:0px 3px 0px 3px;
}

/* 마이 챌린지 */
.mychallenge{
	font-weight: bold;
    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 10px;
    margin-bottom: 15px;
	margin-top:5px;
}

.challenge-header{
	margin: 0px 0px 0px 0px;
	height: 50px;
	padding: 10px 0px 10px 0px;
	font-size: 18px;
}

.challenge-header2{
	margin: 30px 0px 0px 0px;
	height: 50px;
	padding: 10px 0px 10px 0px;
	font-size: 18px;
}

.challenge-header ul{
	float: right;
	margin: 0px;
}
.challenge-header li{
	margin: 0px 20px 0px 0px;
	list-style-type: none;
	float:left;
}

.challenge-header li a {
	display: inline-block;
	color: black;
	text-decoration: none;
}

.challenge-header2 ul{
	float: right;
	margin: 0px;
}
.challenge-header2 li{
	margin: 0px 20px 0px 0px;
	list-style-type: none;
	float:left;
}

.challenge-header2 li a {
	display: inline-block;
	color: black;
	text-decoration: none;
}

.challenge-images{
	margin: 20px 0px 0px 0px;
	padding: 15px 0px 5px 0px;
	height: 457px;
	background-color: #eef4f7;
	border: 5px solid;
	border-color: #ff8f42;
}

.challenge-box{
	width: 280px;
	height: 425px;
	float: left;
	margin: 0px 0px 0px 20px;
}
.challenge-boxin{
	width: 280px;
	height: 385px;
	background-color:white;
}

.challenge-box2{
	width: 280px;
	height: 385px;
	float: left;
	margin: 0px 0px 0px 20px;
	background-color: white;
}

.challenge-image{
	width: 280px;
	height: 195px;
}

.challenge-image2{
	width: 280px;
	height: 195px;
	margin: 60px 0px 0px 0px;
}

.challenge-image img{
	width: 280px;
	height: 195px;
}

.challenge-image2 img{
	width: 280px;
	height: 155px;
}

.none2 {
	font-size: 24px;
	text-align: center;
	margin: 30px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.challenge-box h4{
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-align: center;
	width: 280px;
	
}

.challenge-box > button {
	float: right;
	width: 150px;
	height: 30px;
	margin: 10px 0px 0px 0px;
	background-color:#ff8f42;
	border-style:none;
	color: white;
	border-radius:0.25rem;
}

.challenge-info {
	background-color: white;
	text-align: center;
	color: #7d8285;
	padding: 10px 0px 0px 0px;
	height: 190px;
}
.challenge-info p{
	margin-bottom: 12px;
}

#modal-review-button {
	background-color:#ff8f42;
}

/* 마이 포인트 */
/* .mypoint-header{
	margin: 50px 0px 16px 0px;
	height: 50px;
	padding: 10px 0px 10px 0px;
	font-size: 18px;
} */

.mypoint-header2{
	margin: 20px 0px 0px 0px;
	height: 50px;
	padding: 10px 0px 10px 0px;
	font-size: 18px;
}

.mypoint{
	padding: 32px 16px;
	height: 144px;
	background-color: #ffd400;
	margin: 24px 0px 0px 0px;
	border: 5px solid;
	border-color: #ff8f42;
}

.mypoint2 {
	height: 26px;
	color: var(--bs-gray-900);
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	width: 300px;
	margin: 0px 0px 0px 50px;
	display: block;
	border-radius: 4px;
}

.mypoint-number {
	flex:1;
	font-size: 18px;
	width: 300px;
	height: 46px;
	padding: 0 8px;
	display: block;
	color: #333333;
	background-color: #ffffff;
	text-align: right;
	overflow: hidden;
	border-radius: 4px;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.mypoint-number2 {
	box-sizing: border-box;
    word-break: break-all;
	font-weight: 700px;
	font-weight: bold;
	font-size: 20px;
	cursor: default;
}

.mypoint-buttons {
	float:right;
}

.mypoint-button1, .mypoint-button2, .mypoint-button3{
	height: 47px;
	padding: 10px 20px 10px 20px;
	font-size: 16px;
	font-weight: bold;
	background-color: #ff8f42;
	border-radius: 4px;
	border-style:none;
	color: white;
		
}
.mypoint-button1, .mypoint-button2 {
	width: 120px;
}
.mypoint-button3 {
	width: 120px;
}

.mypoint-table {
	margin: 20px 0px 25px 0px;
	width: 923.5px;
	height: 450px;
	text-align: center;
	border:5px solid;
	border-color:#ff8f42;
}
.mypoint-table-header {
	height: 50px;
	background-color: cornsilk;
	border-bottom: 1px solid;
}
.mypoint-table-body {

}
.mypoint-table tr {
	border-bottom: 1px solid #6c757d;
}

.mypoint-table .column1{
	width:70px;
}
.mypoint-table .column2{
	width:280px;
}
.mypoint-table .column3{
	width: 240px;
}


.mypoint-table .column4 {
	font-weight: bold;
	color: green;
	width: 164.25px;
}
.mypoint-table .column5 {
	font-weight: bold;
	color: red;
	width: 164.25px;
}
.mypoint-table .column6 {
	font-weight: bold;
	color: grey;
}

/* 리얼 페이징 */
#afterComment-wrap {
	padding-top: 25px;
}

.paging-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: normal;
	justify-content: normal;
	align-items: normal;
	justify-content: center;
}


