.info#info__birth {
  display: flex;
  margin-bottom: 15px;
}

.info#info__birth select {
  margin-left: 7px;
}

.info#info__birth select:first-child {
  margin-left: 0px;
}

.info#info__birth select::-webkit-scrollbar {
  width: 10px;
}

.info#info__birth select::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border-radius: 3px;
}

.info#info__birth select::-webkit-scrollbar-track {
  background-color: #ebe9e9;
  border-radius: 6px;
}

.box {
  width: 100%;
  text-align: center;
  height: 95%;
  color: #858796;
}

input[type=button] {
  background-color: white;
  /*border: none;*/
  background-color: white;
  color: #042AaC;
  outline: none;
  display: inline;
  box-sizing: border-box;
}

.asdf {
  width: 70%;
  padding-left: 5px;
  display: inline;
  outline: none;
  box-sizing: border-box;
  color: white;
}

.text-center {
  margin: 50px 50px 50px 50px;
}

.btn-join {
  padding: .75rem 1rem;
  margin: 135px;
  height: 100%;
  width: 10%;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
  margin: 20px;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 120px;
  width: 120px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}

form.user .form-control-user {
  font-size: .8rem;
  border-radius: 0.3rem;
  padding: 1rem;
}

a:visited {
  text-decoration: none;
  color: #858796;
}

.istp {
  font-weight: 600;
  font-size: 20px;
}

.addbtn {
  border: none;
  border-radius: 0.3rem;
}

.container {
  padding: 100px;
}

.aa {
  text-align: center;
  padding: 100px;
}

.bb {
  margin-top: -120px;
}

.cc {
  margin: 100px;
  padding: 400px;
}

