@charset "UTF-8";

.review-header{
	height: 26px;
	font-size: 18px;
	margin: 15px 0px 15px 0px;
}
 
.top-select{
	float: right;
	height: 26px;
	font-size:16px;
}

.review-table{
	width:923.5px;
	text-align: center;
	border-spacing:0px;
}

.review-table thead tr {
	height: 55px;
	font-weight:bold;
	background-color: #ebe9eb;
}

#review-tr:hover {
	background-color: #f1f1f1;
}

.review-table tr{
	height:120px;
}

.review-table td{
	padding:0px;
	border-bottom: 1px solid #f1f1f1;
}

.review-table img{
	width:140px;
	height:105px;
}

.review-table a {
	text-decoration: none;
	color:var(--bs-body-color);
	text-align:left;
}
.review-table .cTitle a {
	float: left;
}

.cNum{
	width:50px;
}

.cThumb{
	width:150px;
}

.cTitle{
	
}
.cChallenge{
	width:220px;
}

.cDate{
	width:100px;
}

.cView{
	width:70px;
}

.bottom-select{
	height:32px;	
}

.review-input{
	width: 230px;
	height:32px;
}

.review-button {
	width: 60px;
	border: 1px solid;
	font-size:15px;
	height:32px;
	padding:0px 3px 0px 3px;
}

/* 마이 챌린지 */
.challenge-header{
	margin: 50px 0px 0px 0px;
	height: 50px;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
}

.challenge-header ul{
	float: right;
	margin: 0px;
}
.challenge-header li{
	margin: 0px 20px 0px 0px;
	list-style-type: none;
	float:left;
}
.challenge-header li .last-list{
	
}
.challenge-header li a {
	display: inline-block;
	color: black;
	text-decoration: none;
}

.challenge-images{
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
	height: 457px;
	background-color: #eef4f7;
}

.challenge-box{
	width: 280px;
	height: 425px;
	float: left;
	margin: 0px 0px 0px 20px;
}

.challenge-image{
	width: 280px;
	height: 195px;
}

.challenge-image img{
	width: 280px;
	height: 195px;
}

.challenge-box h4{
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-align: center;
	width: 280px;
	
}

.challenge-box button {
	float: right;
	width: 150px;
	height: 30px;
	margin: 10px 0px 0px 0px;
}

.challenge-info {
	background-color: white;
	text-align: center;
	color: #7d8285;
	padding: 10px 0px 0px 0px;
	height: 190px;
}
.challenge-info p{
	margin-bottom: 12px;
}

/* 페이징 */
.paging {
  width: 310px;
  height: 30px;
  margin: 10px 0px 0px 450px;
}

.paging > ul {
  list-style: none;
  margin: 10px 5px 10px 68px;
}


.paging > ul > li {
  float: left;
  margin: 0px 5px 0px 5px;
}

.paging a {
	color: black;
	text-decoration: none;
}
.search-form{
	padding:0px 0px 0px 282px;
	margin: 20px 0px 0px 0px;
	height: 36px;
}





































