@charset "UTF-8";

/* my2 */
#review-modal {
	display: none;
}

#review-modal h5 {
	font-weight: bold;
}

.modal-text {
	width: 466px;
	height: 240px;
}
#modal-filebox {
	height:34px;
	margin: 10px 0px 15px 0px;
}


#modal-filepath {
	background-color: grey;
	width: 396px;
	height: 34px;
	float: left;
}

#modal-upbutton{
	font-size: 14px;
	width: 70px;
	height: 34px;
	padding:2px;
	float:left;
}






































.review-header{
	height: 26px;
	font-size: 18px;
	margin: 15px 0px 15px 0px; 
}
 
.top-select{
	float: right;
	height: 26px;
	font-size:16px;
}

.review-table{
	width:923.5px;
	text-align: center;
	border-spacing:0px;
}

.review-table thead tr {
	height: 55px;
	font-weight:bold;
	background-color: #ebe9eb;
}

#review-tr:hover {
	background-color: #f1f1f1;
}

.review-table tr{
	height:120px;
}

.review-table td{
	padding:0px;
	border-bottom: 1px solid #f1f1f1;
}

.review-table img{
	width:140px;
	height:105px;
}

.review-table a {
	text-decoration: none;
	color:var(--bs-body-color);
	text-align:left;
}
.review-table .cTitle a {
	float: left;
}

.cNum{
	width:50px;
}

.cThumb{
	width:150px;
}

.cTitle{
	
}
.cChallenge{
	width:220px;
}

.cDate{
	width:100px;
}

.cView{
	width:70px;
}

.bottom-select{
	height:32px;	
}

.review-input{
	width: 230px;
	height:32px;
}

.review-button {
	width: 60px;
	border: 1px solid;
	font-size:15px;
	height:32px;
	padding:0px 3px 0px 3px;
}

/* 마이 챌린지 */
.challenge-header{
	margin: 50px 0px 0px 0px;
	height: 50px;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
}

.challenge-header ul{
	float: right;
	margin: 0px;
}
.challenge-header li{
	margin: 0px 20px 0px 0px;
	list-style-type: none;
	float:left;
}
.challenge-header li .last-list{
	
}
.challenge-header li a {
	display: inline-block;
	color: black;
	text-decoration: none;
}

.challenge-images{
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
	height: 457px;
	background-color: #eef4f7;
}

.challenge-box{
	width: 280px;
	height: 425px;
	float: left;
	margin: 0px 0px 0px 20px;
}

.challenge-image{
	width: 280px;
	height: 195px;
}

.challenge-image img{
	width: 280px;
	height: 195px;
}

.challenge-box h4{
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-align: center;
	width: 280px;
	
}

.challenge-box > button {
	float: right;
	width: 150px;
	height: 30px;
	margin: 10px 0px 0px 0px;
}
.cmodal-button {
	float: right;
	width: 50px;
	height: 30px;
}

.challenge-info {
	background-color: white;
	text-align: center;
	color: #7d8285;
	padding: 10px 0px 0px 0px;
	height: 190px;
}
.challenge-info p{
	margin-bottom: 12px;
}

.cmodal {
	width: 100%;
	height: 100%;
	/* background-color: grey; */
	display:none;
}
.cmodal input{
	position: absolute;
}


/* 마이 포인트 */
.mypoint-header{
	margin: 50px 0px 0px 0px;
	height: 50px;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
}

.mypoint-header2{
	margin: 20px 0px 0px 0px;
	height: 50px;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
}

.mypoint{
	height: 70px;
	background: var(--bs-warning);
	margin: 20px 0px 0px 0px;
}

.mypoint2 {
	height: 24px;
	color: var(--bs-gray-900);
	font-size: 21px;
	font-weight: bold;
	text-align: left;
	width: 500px;
	margin: 0px 0px 0px 50px;
	padding: 18px 0px 0px 0px;
}
.mypoint-buttons {
	margin: 30px 0px 0px 286px;
}
.mypoint-button1, .mypoint-button2, .mypoint-button3{
	height: 38px;
}
.mypoint-button1, .mypoint-button2 {
	width: 90px;
}
.mypoint-button3 {
	width: 127px;
}
.mypoint-number {
	color: red;
}

.mypoint-table {
	margin: 20px 0px 25px 0px;
	width: 923.5px;
	height: 450px;
	text-align: center;
}
.mypoint-table-header {
	height: 50px;
	background-color: cornsilk;
	border-bottom: 1px solid;
}
.mypoint-table-body {

}
.mypoint-table tr {
	border-bottom: 1px solid #6c757d;
}
.mypoint-table .column4 {
	font-weight: bold;
	color: green;
}
.mypoint-table .column5 {
	font-weight: bold;
	color: red;
}
.mypoint-table .column6 {
	font-weight: bold;
	color: grey;
}
/* 페이징 */
.paging {
  width: 310px;
  height: 30px;
  margin: 10px 0px 0px 450px;
}

.paging > ul {
  list-style: none;
  margin: 10px 5px 10px 68px;
}


.paging > ul > li {
  float: left;
  margin: 0px 5px 0px 5px;
}

.paging a {
	color: black;
	text-decoration: none;
}
.search-form{
	padding:0px 0px 0px 282px;
	margin: 20px 0px 0px 0px;
	height: 36px;
}

/* 구매목록 */

.buylist {
	padding: 15px 25px 15px 25px;
	border: 1px solid grey;
	border-radius: 12px;
	height: 310px;
	background-color:white;
	margin: 45px 0px 0px 0px;
}

.buylist-header {
	padding: 0px 0px 7px 0px;
	height: 50px;
}

.buylist-body {
	padding:0px 15px 0px 15px;
	height: 211px;
	border: solid 1px grey;
	border-radius: 12px;
}

.delivery2 {
	color: green;
}

.orderdate {
	font-size: 24px;
	font-weight: bold;
	float: left;
	background-color: white;
	
}

.product {
	font-size: 19px;
	color: blue;
	float: right;
	background-color: white;
}

.buylist-info {
	width: 629px;
	border-right: 1px solid;
	height: 210px;
	float: left;
}

.buylist-info img {
	width: 110px;
	height: 135px;
}


.buylist-buttons {
	float:right;
}

.buylist-buttons button {
	margin: 12px 0px 0px 0px;
	color: blue;
	border-color: blue;
	border-radius: 12px;
	width: 195px;
	height: 45px;
	display: block;
}



.delivery1 {
	font-size: 22px;
	font-weight: bold;
	background-color: white;
	width: 628px;
	height: 40px;
	float: left;
	margin: 15px 0px 0px 0px;
}

.buylist-inside {
	float: left;
	height: 135px;
}

.buylist-imagebox {
	float: left;
	height: 135px;
}

.buylist-text {
	margin: 0px 0px 0px 15px;
	padding: 20px 0px 0px 15px;
	font-size: 18px;
	float: left;
	width: 493px;
	height: 135px;
}

.buttons-box {
	width: 210px;
	height: 210px;
	float:right;
	margin: 15px 0px 0px 0px;
}













