* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block;
}

textarea {
	margin: 0;
	width: 100%;
	height: 200px !important;
}

#read-header-box {
	font-weight: bold;
	text-align: center;
	background-color: #ff9999;
	color: #ffffff;
}

.read-header {
	display: inline-block;
	padding: 0;
	margin: 10px;
	border: none;
}

.select-width {
	width: 70px;
	font-size: 14px;
}

.write-title-shape {
	margin-bottom: 10px;
	width: 100%;
	height: 40px;
	border: 1px solid #9f9f9f;
	font-size: 14px;
	border-radius: 5px;
}

.text-right {
	text-align: right;
}

.i-float {
	float: right;
}

address, dl, fieldset, figure, ol, p, pre, ul {
	margin: 0 0 10px 0;
}

.read-tab {
	width: 25%;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.font-12 {
	font-size: 12px;
}

.float-l {
	float: left;
}

.board-write-box{
}

#enter-challenge-cell {
	border-style: none;
	border-top: solid 1px #9f9f9f;
	width: auto;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	text-align: center;
	padding-right: 25px;
}

#intro-detail {
	border: solid 1px #9f9f9f;
	padding: 15px 25px 15px 25px;
	width: auto;
}

.calender-size {
	width: 100%;
	height: 350px;
	z-index: -1;
}

.table-certify {
	padding: 10px;
	border: 1px solid #9f9f9f;
	border-radius: 15px;
}

.table-line {
	border-style: none;
	border-color: var(- -bs-table-hover-bg);
	border-bottom-style: none;
	border-bottom-color: rgb(255, 255, 255);
}

.table-certify-form {
	border-style: none;
	border-color: rgb(255, 255, 255);
	border-bottom-style: none;
}

.certify-label {
	border-bottom-width: 3px !important;
	width: auto;
	font-weight: 900;
	font-size: 12px;
}

.certify-label-none {
	border: none;
}

#certify-main {
	margin-top: 15px;
}

.font-20 {
	font-size: 20px;
}

#certify-all-mine {
	margin-top: 7px;
	float: right;
	font-size: 10px;
}

.simple-slider {
	width: 180px;
	display: inline-block;
	height: 160px;
}

.certify-upload-header {
	font-size: 20px;
	text-align: center;
	font-weight: 900;
	margin: 20px 0px;
}

.certify-board-header {
	width: auto;
	border-bottom: 1px solid #9f9f9f;
	margin-bottom: 20px;
}

.certify-list-info {
	margin-bottom: 30px;
}

#certify-all-mine li a {
	font-size: 12px;
}

.certify-header {
	font-size : 20px;
	display: inline-block;
	font-weight: bold;
}

.report {
	float: right;
	font-size: 9px;
	color: red;
	margin: 0;
}

.report2 {
	margin: 0;
	float: right;
	font-size: 9px;
	color: red;
	padding: 2px;
}

.upload-date {
	text-align: left;
	font-size: 10px;
}

.review-uploader {
	text-align: left;
	font-size: 12px;
}

.nickname {
	text-align: left;
	font-size: 11px;
}

.paging-box {
	display: flex;
	justify-content: center;
}

.search-container.search-board {
	padding: 0px;
	float: right;
	height: 20px;
}

.search-container {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	padding-top: 2px;
	padding-right: 160px;
}

.search-input.board-search-box {
	border: 1px solid #ddd;
	border-radius: 5px 0 0 5px;
	padding: 10px;
	border-right: none;
	width: 200px;
}

#read-board-main {
	margin-top: 25px;
}

#read-board {
	padding-top: 20px;
}

.font-14 {
	font-size: 14px;
}

.board-category-size {
	width: 130px;
}

.board-title-size {
	width: 372px;
}

.board-writer-size {
	width: 132px;
}

.board-hit-size {
	width: 88px;
}

.board-upload-size {
	width: 140px;
}

a {
	color: #333;
	text-decoration: none;
	margin: 15px 0;
}

#afterComment-wrap {
	text-align: center;
	padding-top: 25px;
}

.img-size {
	width: 180px;
	height: 160px;
}

.review-comment {
	text-align: left;
	font-size: 11px;
}

span {
	font-size: 12px;
}

button {
	border-radius: 5px;
	border: 2px solid #ff4b2b;
	background-color: #ff4b2b;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.certify-graph {
	font-size: 9px;
	font-weight: 900;
	padding: 5px;
	width: 48%;
	display: inline-block;
	border: 1px solid #333333;
	border-radius: 10px;
}

.certify-img-size {
	width: 180px;
	height: 160px;
}

.progress-bar .progress-goal {
	width: 90%;
	height: 15px;
	padding: 0;
	background-color: #000000;
}

/* 챌린지 추천 틀 */
#challenge-recommand {
	padding-top: 10px;
	float: right;
	width: 240px;
	height: auto;
	font-size: 12px;
	font-weight: 700;
}

/* 챌린지 추천 슬라이더 사이즈 조절 */
#challenge-recommand .simple-slider, #challenge-recommand .swiper-container, #challenge-recommand .siwper-wrapper, #challenge-recommand .swiper-slide, #challenge-recommand .swiper-slide img {
	width: 240px !important;
	height: 180px !important;
}

.progress-bar {
	width: 100%;
	height: 15px;
	font-size: 10px;
	font-weight: 600;
	border-radius: 10px;
	background-color: #dedede;
}

.progress-bar .progress-mine {
	padding: 0;
	width: 82%;
	height: 15px;
	color: #ffffff;
	font-size: 9px;
	text-align: right;
	line-height: 15px;
	border-radius: 10px;
	background-color: #5afd;
}

.progress-bar .progress-all {
	padding: 0;
	width: 72%;
	height: 15px;
	color: #ffffff;
	font-size: 9px;
	text-align: right;
	line-height: 15px;
	border-radius: 10px;
	background-color: #2ECC71;
}

.make-challenge.certify {
	line-height: 2px;
	padding: 15px 19px;
	width: auto;
	float: none;
	margin: 0px;
}

#write-board-regist .make-challenge {
	line-height: 2px;
	padding: 15px 19px;
	width: auto;
	float: none;
	margin: 0px;
	border-radius: 5px;
	border: 2px solid #ff4b2b;
	background-color: #ff4b2b;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


#write-board-regist .return-challenge {
	line-height: 2px;
	padding: 7px 19px;
	width: auto;
	float: none;
	margin: 0px;
	border-radius: 5px;
	border: 2px solid #eeeeee;
	background-color: #eeeeee;
	color: black;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.font-12 a {
	font-size: 12px;
}

.bold-underline {
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.type-center {
	text-align: center;
}

.typebox-size {
	height: 27px;
	width: 350px;
}

.upload-size td {
	width: 70px;
}

#image-cell {
	padding-top: 25px;
}

#tab-1 {
	padding: 10px;
}

.write-title-shape {
	width: 100%;
	border: 1px solid #9f9f9f;
	font-size: 14px;
	border-radius: 5px;
}

.modal-body {
	text-align: center;
	padding: 0;
}

.modal-body div p {
	text-align: left;
}

.modal-image-box {
	background-color: #efefef;
	width: 100%;
	max-width: 700px;
	max-height: 800px;
}

.modal-upload-date {
	float: right;
	font-size: 12px;
	text-align: left;
}

.modal-nickname {
	float: left;
	font-size: 12px;
	text-align: left;
}

.modal-image img {
	width: 100%;
	padding: 0px 10px;
}

.review-text {
	padding: 10px;
}

.review-text-header {
	border-bottom: 1px solid;
}

.modal-nicname-box {
	padding: 10px;
}

#board-read-box {
	padding-top: 20px;
}

#board-write-box{
	padding-top:20px;
	
}

.line-height25{
	line-height: 2.5;
}

table .board-read-label {
	width: 17%;
	border-bottom: 3px solid #ffffff;
	font-size: 13px;
	background: #eeeeee;
}

.table-top-bottom {
	border-top: solid 1px #9f9f9f;
	border-bottom: solid 1px #9f9f9f;
}

.border-content {
	padding-left: 7px;
}

table .board-read-cell10 {
	width: 10%;
	border: none;
	font-size: 13px;
	background-color: #eeeeee;
}

table .board-read-cell {
	width: auto;
	border: none;
	font-size: 13px;
}

.board-content-box {
	margin-bottom: 55px;
}

.board-read-comment-textbox {
	width: 85%;
	display: inline-block;
}

.comment-text {
	width: 100%;
	height: 60px;
	border-radius: 10px;
	border: 1px solid #afafaf;
}

.button-area {
	float:right;
	margin: 0;
	padding: 0;
	width: 14%;
	text-align: right;
}

.board-read-comment-box {
	margin: 0;
	padding: 0;
}

table .border-white-underline {
	border-bottom: 1px solid #ffffff;
}

.comment-button:hover, .comment-button:active {
	border-color: #ff4b2b;
	background-color: #ff4b2b;
}

.comment-button {
	margin-bottom: 6px;
	padding: 0;
	font-size: 14px;
	width: 80%;
	height: 60px;
	border-color: #ff4b2b;
	background-color: #ff4b2b;
}

.board-password {
	width: 100%;
}

table .write-board-label {
	width: 20%;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background-color: #ff8f42;
}

.write-board-content-text {
	padding: 8px 0px 0px 0px;
	width: 30%;
	font-size: 14px;
	height: auto;
}

.write-board-content {
	width: 30%;
	font-size: 14px;
	height: auto;
}