<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Dropdown-Login-with-Social-Logins-bootstrap-social.css">
    <link rel="stylesheet" href="assets/css/dropdown-search-bs4.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/icon-star-empty.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="assets/css/Menu-dropdown-xl.css">
    <link rel="stylesheet" href="assets/css/Multi-Select-Dropdown-by-Jigar-Mistry.css">
    <link rel="stylesheet" href="assets/css/navbar-dropdown-multiple-columns.css">
    <link rel="stylesheet" href="assets/css/navbar-megadropdown.css">
    <link rel="stylesheet" href="assets/css/Navigation-Menu.css">
    <link rel="stylesheet" href="assets/css/NZDropdown---Tree.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form-.css">
    <link rel="stylesheet" href="assets/css/Pure-CSS-Drop-Down-Menu.css">
    <link rel="stylesheet" href="assets/css/Search-Field-With-Icon.css">
    <link rel="stylesheet" href="assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider-Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/sticky-dark-top-nav-with-dropdown.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="bg-gradient-primary" style="background: rgb(255,255,255);margin: 0px;"><div class="header-cate">
<header>
    <div class="header-top">
       <img class="logo-img" src="assets/img/나대나로고.png" />
       <div class="search-container">
         <input class="search-input" type="text" name="search-bar" placeholder="검색어를 입력하세요" />
         <button class="btn btn-light search-btn" type="button"><i class="fa fa-search"></i></button>
       </div>
        <button id="join-button" class="btn btn-primary" type="button">회원가입</button>
        <button id="login-button" class="btn btn-primary" type="button">로그인</button>
    </div>
</header>
<div>
<nav id="primary_nav_wrap">
    <div id="nav-main">
        <ul>
          <li><a href="#">전체카테고리</a>
            <ul>
              <li><a href="#">Sub Menu 1</a></li>
              <li><a href="#">Sub Menu 2</a></li>
              <li><a href="#">Sub Menu 3</a></li>
              <li><a href="#">Sub Menu 4</a>
                <ul>
                  <li><a href="#">Deep Menu 1</a>
                    <ul>
                      <li><a href="#">Sub Deep 1</a></li>
                      <li><a href="#">Sub Deep 2</a></li>
                      <li><a href="#">Sub Deep 3</a></li>
                        <li><a href="#">Sub Deep 4</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Deep Menu 2</a></li>
                </ul>
              </li>
              <li><a href="#">Sub Menu 5</a></li>
            </ul>
          </li>
          <li><a href="#">챌린지</a>
            <ul>
              <li><a href="#">Sub Menu 1</a></li>
              <li><a href="#">Sub Menu 2</a></li>
              <li><a href="#">Sub Menu 3</a></li>
            </ul>
          </li>
          <li><a href="#">이벤트</a>
            <ul>
              <li class="dir"><a href="#">Sub Menu 1</a></li>
              <li class="dir"><a href="#">Sub Menu 2 THIS IS SO LONG IT MIGHT CAUSE AN ISSEUE BUT MAYBE NOT?</a>
                <ul>
                  <li><a href="#">Category 1</a></li>
                  <li><a href="#">Category 2</a></li>
                  <li><a href="#">Category 3</a></li>
                  <li><a href="#">Category 4</a></li>
                  <li><a href="#">Category 5</a></li>
                </ul>
              </li>
              <li><a href="#">Sub Menu 3</a></li>
              <li><a href="#">Sub Menu 4</a></li>
              <li><a href="#">Sub Menu 5</a></li>
            </ul>
          </li>
          <li><a href="#">포인트몰</a>
        </ul>
        <button class="make-challenge" type="button">챌린지 개설하기</button>
    </div>
</nav>
</div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-12">
         
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image" style="background-image: url('assets/img/loginimg/동여.jpg');"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">로그인</h4>
                                </div>
                                <form class="user">
                                    <div class="mb-3"><input id="exampleInputEmail" class="form-control form-control-user" type="email" aria-describedby="emailHelp" placeholder="이메일" name="email" /></div>
                                    
                                    <div class="mb-3"><input id="exampleInputPassword" class="form-control form-control-user" type="password" placeholder="비밀번호" name="password" /></div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-checkbox small">
                                            <div class="form-check"><input id="formCheck-1" class="form-check-input custom-control-input" type="checkbox" /><label class="form-check-label custom-control-label" for="formCheck-1">로그인유지</label></div>
                                            <a class = "find" href=""> 아이디 /</a> <a class = "find" href="">비밀번호찾기</a> 
                                        </div>
                                        
                                    </div>
                                    <button class="btn btn-primary d-block btn-user w-100" type="submit">로그인</button>
                                    <div class="hr-sect">또는</div>
                                    <a href="www.naver.com">
                                    <img class="btn-naver" role="button" src="assets/img/loginimg/pngwing.com.png" />
                                    </a>
                                    
                                    <a href="www.naver.com">
                                    <img class="btn-naver" role="button" src="assets/img/loginimg/btn_naver1.png"/>
                                    </a>
                                    
                                    <a href="www.naver.com">
                                    <img class="btn-naver" role="button" src="assets/img/loginimg/kakaobtn.png"/>
                                    </a>
                                    <hr />
                                    <p class="pp">나대나 회원이 되어라.</p><button class="btn btn-primary d-block signup w-100 btn-user mb-2 ">회원가입</button>
                                 </form>
                                <div class="text-center"></div>
                                <div class="mb-3">
                                    <div>
                                        
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>